{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1>{{ title }}</h1>
            <form action="{{ url_for('new_post') }}">
                <input class="btn btn-dark btn-lg mb-2" type="submit" value="Add a new post"/>
            </form>

            <div style="border:1px solid black;" class="post-content">
                {% for post in posts.items %}
                    <div class="post-container">
                        <img style="position: absolute; down: 10px;"
                             src="{{ url_for('static', filename='profile_img/' + post.author_post.image_file) }}"
                             alt="user" class="profile-photo-md pull-left">
                        <div class="post-detail">

                            <div class="user-info">
                                <h5><a href="{{ url_for('home', username=(post.author_post.username)) }}"
                                       class="profile-link">{{ post.author_post.username }}</a>
                                    <span class="following">{{ post.date.strftime('%Y-%m-%d') }}</span></h5>
                                <h2><a class="article-title"
                                       href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                            </div>
                            <div class="reaction">
                                {% if current_user.is_authenticated %}
                                    <a class="btn text-green"
                                       href="{{ url_for('like', post_id=post.id, value=True) }}">
                                    {% if is_liked(post, '1') %}
                                        <i class="bi bi-hand-thumbs-up-fill"></i>
                                    {% else %}
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    {% endif %}
                                {% else %}
                                    <a class="btn text-green"><i class="bi bi-hand-thumbs-up"></i>
                                {% endif %}
                                {{ get_likes(post, '1') }}</a>

                                {% if current_user.is_authenticated %}
                                    <a class="btn text-red"
                                       href="{{ url_for('like', post_id=post.id, value=False) }}">
                                    {% if is_liked(post, '0') %}
                                        <i class="bi bi-hand-thumbs-down-fill"></i>
                                    {% else %}
                                        <i class="bi bi-hand-thumbs-down"></i>
                                    {% endif %}
                                {% else %}
                                    <a class="btn text-red"><i class="bi bi-hand-thumbs-down"></i>
                                {% endif %}
                                {{ get_likes(post, '0') }}</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                                <p> {{ post.content }} <i class="em em-anguished"></i> <i class="em em-anguished"></i>
                                    <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <hr>

                            {% for comment in post.comments %}
                                <div class="post-comment">
                                    <img src="{{ url_for('static', filename='profile_img/' + comment.author_comment.image_file) }}"
                                         alt=""
                                         class="profile-photo-sm">
                                    <p><a href="#" class="profile-link">{{ comment.author_comment.username }} </a><i
                                            class="em em-laughing"></i>
                                        {{ comment.content }}
                                    </p>
                                </div>

                            {% endfor %}
                            {% if current_user.is_authenticated %}
                                <div class="post-comment">
                                    <img src="{{ url_for('static', filename='profile_img/' + current_user.image_file) }}"
                                         alt=""
                                         class="profile-photo-sm">
                                    <form method="post" action="{{ url_for('new_comment', post_id=post.id) }}"
                                          enctype="multipart/form-data" style="width: 80%; ">
                                        {{ form.hidden_tag() }}
                                        <div class="form-outline mb-4 ">

                                            {% if form.content.errors %}
                                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.content.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.content(class="form-control ", placeholder="Write a comment") }}
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                                <hr>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <nav aria-label="...">
        <ul class="pagination">
            {% if posts.page == 1 %}
                <li class="page-item disabled">
                    {% else %}
                <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ url_for('home', page=posts.page - 1) }}">Previous</a>
            </li>

            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num == posts.page %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                    </li>

                {% elif page_num %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">...</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if posts.page == len %}
                <li class="page-item disabled">
                    {% else %}
                <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ url_for('home', page=posts.page + 1) }}">Next</a>
            </li>

        </ul>
    </nav>

{% endblock %}